 
<div class="menuTemplate">
      <h2 class="menu__title">{{title}}</h2>
      <ul class="menu__list">
       {{#each items}}
          <li class="menu__item">{{this}}</li>
        {{/each}}
      </ul>
    </div>


    {{!-- <p>{{pizza}}</p> --}}