$body-color: rgb(204, 183, 65);
$text-color: rgb(160, 76, 160);
$div-color: rgb(76, 105, 160);


body {
  background-color: $body-color;
}


p {
  color: $text-color
}

div {
  background-color: $div-color,
  bord
}